In [ ]:
# Importer les librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Création de la base de donnée
df = pd.read_csv("/content/drive/MyDrive/Zindi/Train.csv")
df_test = pd.read_csv("/content/drive/MyDrive/Zindi/Test.csv")

In [ ]:
df.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [ ]:
variable = pd.read_csv("/content/drive/MyDrive/Zindi/VariableDefinitions.csv")
variable

      Variable Definitions                                         Unnamed: 1
0                  country                         Country interviewee is in.
1                     year                           Year survey was done in.
2                 uniqueid             Unique identifier for each interviewee
3            location_type                     Type of location: Rural, Urban
4         cellphone_access  If interviewee has access to a cellphone: Yes, No
5           household_size               Number of people living in one house
6        age_of_respondent                         The age of the interviewee
7     gender_of_respondent                Gender of interviewee: Male, Female
8   relationship_with_head  The interviewee’s relationship with the head o...
9           marital_status  The martial status of the interviewee: Married...
10         education_level  Highest level of education: No formal educatio...
11                job_type  Type of job interviewee has: Farming and Fishi...

In [ ]:
# Voyons un peu les infos sur la base de données
df.info()
# Conclusion: Pas de valeur manquante dans la base de données

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [ ]:
df.describe()

               year  household_size  age_of_respondent
count  23524.000000    23524.000000       23524.000000
mean    2016.975939        3.797483          38.805220
std        0.847371        2.227613          16.520569
min     2016.000000        1.000000          16.000000
25%     2016.000000        2.000000          26.000000
50%     2017.000000        3.000000          35.000000
75%     2018.000000        5.000000          49.000000
max     2018.000000       21.000000         100.000000

In [ ]:
df.columns

Index(['country', 'year', 'uniqueid', 'bank_account', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type'],
      dtype='object')

In [ ]:
df['bank_account']

0        Yes
1         No
2        Yes
3         No
4         No
        ...
23519     No
23520     No
23521     No
23522     No
23523     No
Name: bank_account, Length: 23524, dtype: object

In [ ]:
# Préparation des données pour l'apprentissage automatique
# Néttoyage et prétaitement
# Importation du module de preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

# Transformer la variable cible "bank_account " en variable numérique
le = LabelEncoder()
df['bank_account'] = le.fit_transform(df['bank_account'])
df['bank_account']

0        1
1        0
2        1
3        0
4        0
        ..
23519    0
23520    0
23521    0
23522    0
23523    0
Name: bank_account, Length: 23524, dtype: int64

In [ ]:
# Séparer les variables indépendantes de la variable target
# Variables indépendantes
x_train = df.drop(['bank_account'], axis=1)
# Variables cible ou target
y_train = df['bank_account']

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  int64
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(4), object(9)
memory usage: 2.3+ MB

In [ ]:
df.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,1,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,0,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,1,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,0,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,0,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [ ]:
df['job_type'].unique()

array(['Self employed', 'Government Dependent',
       'Formally employed Private', 'Informally employed',
       'Formally employed Government', 'Farming and Fishing',
       'Remittance Dependent', 'Other Income',
       'Dont Know/Refuse to answer', 'No Income'], dtype=object)

In [ ]:
def preprocessing_data(df):
    # Convertir les entiers en floats
    float_array = df[['year', 'household_size', 'age_of_respondent']].values.astype(float)
    # Convertir à présent les variables strings en floats ou numériques
    # Recenssons d'abord ces variables catégoriqes dans une matrice
    var_string = ['country', 'relationship_with_head', 'marital_status', 'education_level', 'job_type']
    # Utiliser One Hot Encoding pour transformer les variables en numériques
    df = pd.get_dummies(df, prefix_sep="_", columns=var_string)
    # Utiliser Label Encoder pour gérer les valeurs numériques
    le = LabelEncoder()
    df['location_type'] = le.fit_transform(df['location_type'])
    df['cellphone_access'] = le.fit_transform(df['cellphone_access'])
    df['gender_of_respondent'] = le.fit_transform(df['gender_of_respondent'])
    # Effacer la colonne uniqueid
    df = df.drop(['uniqueid'], axis=1)
    # Effectuer la mise à l'échelle des fonctionnalités
    scaler = MinMaxScaler(feature_range=(0, 1))
    df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
    return df
# Stocker le résultat de la fonction dans une variable
df_transformed = preprocessing_data(df)
# Afficher les premières lignes du dataframe transformé
df_transformed

,year,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,country_Kenya,country_Rwanda,country_Tanzania,...,job_type_Dont Know/Refuse to answer,job_type_Farming and Fishing,job_type_Formally employed Government,job_type_Formally employed Private,job_type_Government Dependent,job_type_Informally employed,job_type_No Income,job_type_Other Income,job_type_Remittance Dependent,job_type_Self employed
0,1.0,1.0,0.0,1.0,0.10,0.095238,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.20,0.642857,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,0.20,0.119048,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.20,0.214286,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,1.0,0.0,0.35,0.119048,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23519,1.0,0.0,0.0,1.0,0.15,0.380952,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
23520,1.0,0.0,0.0,1.0,0.05,0.130952,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
23521,1.0,0.0,0.0,1.0,0.20,0.130952,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
23522,1.0,0.0,1.0,1.0,0.30,0.166667,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23523,1.0,0.0,0.0,1.0,0.45,0.047619,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
# Phase de préprocessus du modèle d'entrainement et de test
processed_train = preprocessing_data(x_train)
processed_test = preprocessing_data(df_test)

In [ ]:
# Obseravation de notre première entrainement
print(processed_train[:1])

   year  location_type  cellphone_access  household_size  age_of_respondent  \
0   1.0            0.0               1.0             0.1           0.095238

   gender_of_respondent  country_Kenya  country_Rwanda  country_Tanzania  \
0                   0.0            1.0             0.0               0.0

   country_Uganda  ...  job_type_Dont Know/Refuse to answer  \
0             0.0  ...                                  0.0

   job_type_Farming and Fishing  job_type_Formally employed Government  \
0                           0.0                                    0.0

   job_type_Formally employed Private  job_type_Government Dependent  \
0                                 0.0                            0.0

   job_type_Informally employed  job_type_No Income  job_type_Other Income  \
0                           0.0                 0.0                    0.0

   job_type_Remittance Dependent  job_type_Self employed
0                            0.0                     1.0

[1 rows x 37 columns]

In [ ]:
# Voir la dimenssion de notre modèle d'entrainement
processed_train.shape

(23524, 37)

In [ ]:
# Split ou fendre les données d'entrainement
# Importer le module nécessaire
from sklearn.model_selection import train_test_split
X_Train, X_Val, y_Train, y_val = train_test_split(processed_train, y_train, stratify=y_train, test_size=0.1, random_state=42)

***Il s'agit d'une classification:***
Nous allons pouvoir utiliser cinq algorithmes de classification pour repondre à cette belle préoccupations:


*   Foret aléatoire
*   K voisins les plus proches
*   Regression logistiques
*   Arbres supplémentaires 
*   XGBoost

In [ ]:
# Importer mes modèles de classifications à utiliser
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import XGBClassifier

In [ ]:
# Création des modèles respectifs
lg_model = LogisticRegression()
rf_model = RandomForestClassifier()
kn_model = KNeighborsClassifier()
et_model = ExtraTreesClassifier()
xg_model = XGBClassifier()

In [ ]:
# Entrainer le modèle avec a méthode fit
lg_model.fit(X_Train, y_Train)
rf_model.fit(X_Train, y_Train)
kn_model.fit(X_Train, y_Train)
et_model.fit(X_Train, y_Train)
xg_model.fit(X_Train, y_Train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [ ]:
# Importer la bibliothèque d'évaluation du metrics
from sklearn.metrics import confusion_matrix, accuracy_score

# Evaluer le model
lg_y_model = lg_model.predict(X_Val)
rf_y_model = rf_model.predict(X_Val)
kn_y_model = kn_model.predict(X_Val)
et_y_model = et_model.predict(X_Val)
xg_y_model = xg_model.predict(X_Val)

In [ ]:
!pip install --upgrade scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.1.0)

In [ ]:
# Prendre l'erreur sur chaque modèle
print("Erreur sur le modèle de Regression Logistic: ", 1 - accuracy_score(y_val, lg_y_model))
print("Erreur sur le modèle de Random Forest Classifier: ", 1 - accuracy_score(y_val, rf_y_model))
print("Erreur sur le modèle de Extra Tree Classifier: ", 1 - accuracy_score(y_val, et_y_model))
print("Erreur sur le modèle de XGB Classifier: ", 1 - accuracy_score(y_val, xg_y_model))

Erreur sur le modèle de Regression Logistic:  0.11219719507012327
Erreur sur le modèle de Random Forest Classifier:  0.13557161070973223
Erreur sur le modèle de Extra Tree Classifier:  0.1495962600934977
Erreur sur le modèle de XGB Classifier:  0.10752231194220141

Il est préférable d'utiliser le dernier modèle avec 0,107 taux d'erreur

In [ ]:
# Présentation du modèle et amélioration des performances
# Test sur les données de test
df_test.bank_account = xg_model.predict(processed_test)

<ipython-input-25-9cb4e078b6c4>:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_test.bank_account = xg_model.predict(processed_test)

In [ ]:
submit = pd.DataFrame({"uniqueid": df_test['uniqueid'] + " x " + df_test['country'], "bank_account": df_test.bank_account})

In [ ]:
# Observation de notre résultats de soumission
submit.sample(20)

                      uniqueid  bank_account
9968    uniqueid_2885 x Uganda             0
1006     uniqueid_7075 x Kenya             0
6774  uniqueid_7049 x Tanzania             0
6836  uniqueid_7111 x Tanzania             0
8316  uniqueid_8591 x Tanzania             0
9752    uniqueid_2669 x Uganda             0
7865  uniqueid_8140 x Tanzania             0
5226   uniqueid_11361 x Rwanda             0
4286   uniqueid_10421 x Rwanda             0
2031     uniqueid_8100 x Kenya             0
1652     uniqueid_7721 x Kenya             0
8667  uniqueid_8942 x Tanzania             0
6188   uniqueid_12323 x Rwanda             0
6791  uniqueid_7066 x Tanzania             1
3993   uniqueid_10128 x Rwanda             0
6512  uniqueid_6787 x Tanzania             0
314      uniqueid_6383 x Kenya             0
7029  uniqueid_7304 x Tanzania             0
9893    uniqueid_2810 x Uganda             0
1357     uniqueid_7426 x Kenya             0

In [ ]:
# Enregistrer les résultats dans le fichiers
# Transformer notre soumission en csv
submit.to_csv('first_submission.csv', index=False)

In [ ]:
read = pd.read_csv('/content/drive/MyDrive/Zindi/first_submission.csv')
read

                     uniqueid  bank_account
0       uniqueid_6056 x Kenya             1
1       uniqueid_6060 x Kenya             1
2       uniqueid_6065 x Kenya             0
3       uniqueid_6072 x Kenya             0
4       uniqueid_6073 x Kenya             0
...                       ...           ...
10081  uniqueid_2998 x Uganda             0
10082  uniqueid_2999 x Uganda             0
10083  uniqueid_3000 x Uganda             0
10084  uniqueid_3001 x Uganda             0
10085  uniqueid_3002 x Uganda             0

[10086 rows x 2 columns]

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
cd /content/drive/MyDrive/Zindi

/content/drive/MyDrive/Zindi

In [3]:
!git init

Initialized empty Git repository in /content/drive/MyDrive/Zindi/.git/

In [4]:
!git config --global user.email "richardkeke15@gmail.com"
!git config --global user.name "mrcryptsie"

In [10]:
!git add Test.csv Train.csv VariableDefinitions.csv Zindi_1_Inclusion_financie\314\200re_en_Afrique.ipynb

fatal: pathspec 'Zindi_1_Inclusion_financie\314\200re_en_Afrique.ipynb' did not match any files

In [9]:
!git commit -m "Première version"

On branch master

Initial commit

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	Test.csv
	Train.csv
	VariableDefinitions.csv
	"Zindi_1_Inclusion_financie\314\200re_en_Afrique.ipynb"

nothing added to commit but untracked files present (use "git add" to track)

In [7]:
!git remote add origin https://mrcryptsie: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@github.com/mrcryptsie/Inclusion_financiere.git

In [8]:
!git push -u origin master

error: src refspec master does not match any
error: failed to push some refs to 'https://mrcryptsie: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@github.com/mrcryptsie/Inclusion_financiere.git'